<div class="ui container">
  <div class="ui aligned basic segment">
    <div class="ui form">
        <div class="field">
            <label>Name</label>
            <Input class="form-control" @value={{model.project.name}}/>
        </div>
        <div class="field">
            <label>Descriptif</label>
            <Input class="form-control"  @value={{model.project.descriptif}}/>
        </div>
        <div class="two fields">
            <div class="field">
                <label>StartDate</label>
                <Input type="date" class="form-control" @value={{model.project.startDate}}/>
            </div>
                    <div class="field">
                <label>DueDate</label>
                <Input type="date" class="form-control" @value={{model.project.dueDate}}/>
            </div>
        </div>
        <div class="field">
            <label>Owner</label>
            {{#ui-dropdown class="selection" onChange=(action (mut model.project.owner)) as |execute mapper|}}
                <i class="dropdown icon"></i>
                <div class="menu">
                    {{#each model.project.developer as |developer|}}
                    <div data-value={{map-value mapper developer}} class="item">
                        {{developer.identity}}
                    </div>
                    {{/each}}
                </div>
                {{/ui-dropdown}}
        </div>
        <Input type="hidden" @value={{model.project.stories}} value="[]"></Input>
        <div class="field ui centered grid">
          <button {{action "addProject" model.project}} class="ui green button">Validate</button>
          <LinkTo class="btn btn-danger" @route="projects">Cancel</LinkTo>
        </div>

      </div>

  </div>
</div>
{{outlet}}