<div class="container">
    <div>
        <h4>Modifier un projet</h4>
        <hr />
        <form class="ui form">
            <div class="field">
                <label for="name">Name</label>
                <Input type="text" class="form-control" id="name" aria-describedby="Name" @value={{model.name}} />
            </div>
            <div class="field">
                <label>Description</label>
                <Input type="text" name="desc" placeholder="Description" @value={{model.descriptif}}/>
            </div>
            <div class="field">
                <label>Start date</label>
                <Input type="date" name="startdate" placeholder="Start date" @value={{model.startDate}}/>
            </div>
            <div class="field">
                <label>Due date</label>
                <Input type="date" name="duedate" placeholder="Due date" @value={{model.dueDate}}/>
            </div>
            <div>
            <button {{action "updateProject" model}} class="btn btn-primary" >Submit</button>
            <LinkTo @route="projects"class="btn btn-danger">Cancel</LinkTo>
            </div>
        </form>
    </div>
</div>
{{outlet}}