<h1 class="text-center mb-5 mt-3">NOTE</h1>
{{textarea class="mx-auto d-block col-6" placeholder="Entrez votre texte"  value=model.content maxlength=model.MAX}}
<br>
<div class="col-6 mx-auto row d-flex">
    <button {{action "save" model}}class="btn btn-success col-5 px-2 ">Enregistrer</button>
    <button {{action "clear" model}}class="offset-2 btn btn-danger col-5 px-2 ">Effacer</button>
</div>
<div class="alert alert-primary mt-4 col-3 mx-auto d-block{{model.style}} text-center">Il vous reste {{model.size}} caractères disponibles</div>
{{#if model.info}}
<div class="container-fluid alert alert-primary mx-auto d-block col-8 text-center">{{model.info}}</div>
{{/if}}
<br>
<br>
<button {{action "fermer" model}}class="btn btn-primary mx-auto d-block">Revenir à l'accueil</button>
{{outlet}}