<br/>
<div class="ui text container">
  <div class="ui three buttons">
    <button class="ui button grey">Home</button>
    {{#link-to "developers" class="ui right floated icon button "}}
      Developers
    {{/link-to}}
    <button class="ui button grey">Projects</button>
  </div>
  <div class="ui divider"></div>


  <h1>models\Project</h1>
  {{#link-to "projects.new" class="ui orange button"}}
    <i class="add icon"></i>Ajouter a new models\Project...
  {{/link-to}}
  {{outlet}}
  <table class="ui table ">
    <thead>
      <th>Name</th>
      <th>Descriptif</th>
      <th>StartDate</th>
      <th>DueDate</th>
      <th></th>
    </thead>
    <tbody>
      {{#each this.model as |project|}}
        <tr>
            <td>{{project.name}}</td>
            <td>{{project.descriptif}}</td>
            <td>{{moment-format project.startDate "YYYY-MM-DD"}}</td>
            <td>{{moment-format project.dueDate "YYYY-MM-DD"}}</td>
          <td >
            <LinkTo @route="projects.update" @model={{project}} class="btn btn-primary"><i class="fas fa-edit"></i></LinkTo>
            <LinkTo @route="projects.delete" @model={{project}} class="btn btn-danger"><i class="fas fa-edit"></i></LinkTo>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

